div.caption {
	position: relative;
}

div.caption p {
	position: absolute;
	margin: 0;
	padding: 2px;
	font-size: 12px;
	bottom: 0;
	left: 0;
	background:black;
	color: white;
	font-weight: bold;
	opacity: .8;
	width: 104px;
	text-align: center;
}

.non-logged ul li a div.caption p {
	width: 119px;
}