body {
	background-color: transparent;
	background-image: url(../img/bg/body.gif);
	background-repeat: repeat-x;
}

body.user-logged {
	background-position: 0 -30px;
}

body.small {
	background-image: url(../img/bg/body-small-bar.gif);
}

body.medium {
	background-image: url(../img/bg/body-medium-bar.gif);
}

body.nobar {
	background-image: url(../img/bg/body-no-bar.gif);
}

a:hover {
	text-decoration: none;
}

/** Universal **/
.fr {
	float: right; }
.fl {
	float: left; }
.ar {
	text-align: right; }
.ac {
	text-align: center; }
.db {
	display: block; }
.help-inline {
	color: #B94A48; }
.upper {
	text-transform: uppercase; }
.no-decoration, .no-decoration:hover {
	text-decoration: none; }
.hide-important {
	display: none!important; }
.error { 
	border-color: #EE5F5B; }
.success {
	border-color: #458845; color: #458845; }
.hg1 {
	width:525px; }
.horizontal-space {
	margin: 0 0 30px 0; }
.pointer {
	cursor: pointer; }
.strong {
	font-weight: bold; }
label.form {
	text-align: left;
	color: #bfbfbf;
	margin: 0 0 0 5px;
	padding: 0;
}

a.discrete-link {
	color: #404040;
}
a.discrete-link:hover {
	text-decoration: underline;
}

div.well.alert {
	background-color: #FDDFDE; border: 1px solid #FBC7C6; padding: 10px; }

div.movie-voted {
	left: -100px; }

span.space {
	display: inline-block; width: 5px; }
span.space2 {
	display: inline-block; width: 40px; }

small.space {
	margin-top: 5px; display: block; }

small.divider {
	font-weight: bold;
	vertical-align: top;
}

div.scroll {
	height: auto;
	overflow-x: auto;
	padding-right: 15px;
}

span.star {
	background: transparent url(../img/ico/star-rating.png) no-repeat;
	display: inline-block;
	height: 16px;
	width: 16px;
}

span.star.half {
	background: transparent url(../img/ico/star-rating.png) no-repeat -32px;
}

span.star.off {
	background: transparent url(../img/ico/star-rating.png) no-repeat -16px;
}

a.vote {
	background: transparent url(../img/ico/star-vote.png) no-repeat;
	color: #FFFFFF;
	display: inline-block;
	height: 16px;
	left: 5px;
	padding-right: 4px;
	position: relative;
	width: 46px;
	text-align: right;
	top: -3px;
}

a.vote span {
	position: relative;
	top: -1px;
}

small.info,
small.info-normal {
	font-size: 12px;
	color: #BABABA;
}

small.info {
	position: relative;
	top: -3px;
}

small.info.loading-message {
	top: -8px;
}

dl.movie-box {
	float: left;
	width: 276px;
	margin: 0 56px 0 0;
}

dl.movie-box.search-result {
	margin: 0 80px 35px 0;
	height: 230px;
	width: 123px;
}

dl.movie-box.search-result dt span.current_status {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 10px;
}

dl.movie-box.last {
	margin-right: 0;
}

dl.movie-box dd {
	margin: 0;
}

dl.movie-box.search-result dt {
	text-align: center;
	width: 129px;
}

dl.movie-box.search-result dt span.star {
	margin: 0 2px;
}

dl.movie-box dd span {
	background-color: #FFFFFF;
	padding: 3px;
	display: block;
	line-height: 0;
	margin-bottom: 3px;
}

dl.movie-box.search-result dd span {
	background: #FFF !important;
	border: 1px solid #CCC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 123px;
}

dl.movie-box dd span a {
	position: relative;
	height: 97px;
	display: block;
}

dl.movie-box.search-result dd span a {
	position: relative;
	height: 174px;
	display: block;
}

dl.movie-box dd h5 {
	line-height: 18px;
	font-size: 11px;
	padding-left: 3px;
	color: #9A9A9A;
	font-family: "Lucida Grande", Tahoma;
}

dl.movie-box.search-result dd h5 {
	text-align: center
}

span.lbl-first {
	background: transparent url(../img/lbl/first-movie.png) no-repeat !important;
	height: 33px;
	position: absolute;
	right: -3px;
	top: -3px;
	width: 33px;
	padding: 0 !important;
}

div.footer {
	border-top: 1px solid #EEEEEE;
    margin-top: 100px;
    padding-top: 17px;
}

div.footer p {
	text-align: center;
}

div.footer a {
	color: #404040;
	font-weight: bold;
}

/** Structure **/
div.top {
	height: 80px;
	margin: 0 auto;
	width: 940px;
	position: relative;
}

body.user-logged div.top {
	height: 50px;
}

div.top h1 {
	float: left;
	margin: 23px 0 0 0;
	background: transparent url(../img/logo/pipocket.png) no-repeat;
}

body.user-logged div.top h1 {
	margin: 10px 0 0 0;
}

div.top h1 a {
	display: block;
	color: #EFEFEF;
	text-transform: uppercase;
	text-indent:-9000px;
	width: 220px;
	height: 43px;
}

div.top ul {
	float: right;
	margin: 25px 0 0 0;
}

body.user-logged div.top ul {
	margin: 10px 0 0 0;
}

div.top ul li {
	float: left;
	margin-left: 10px;
}

div.top ul li a.ico-login-facebook,
div.top ul li a.ico-login-google,
div.top ul li a.ico-login-twitter {
	display: block;
	height: 24px;
	text-indent:-9000px;
	outline: none;
}

div.top ul li a.ico-login {
	width: 65px;
	text-decoration: none;
	text-transform: uppercase;
}

div.top ul li a.ico-login-facebook {
	width: 97px;
	background: transparent url(../img/bt/facebook.gif) no-repeat;
}

div.top ul li a.ico-login-google {
	width: 83px;
	background: transparent url(../img/bt/google.gif) no-repeat;
}

div.top ul li a.ico-login-twitter {
	width: 151px;
	background: transparent url(../img/bt/twitter.png) no-repeat;
}

div.top ul.logged li {
	margin-left: 0;
}

div.top ul.logged li input.span4 {
	background-color: #444444;
	border-color: gray;
	color: #BABABA;
}

div.top ul.logged li input.submit-search {
	position: relative;
	left: 220px;
	border: none;
	background: none;
	color: #BABABA;
}

div.top ul.logged li input.submit-search:hover {
	color: #FFFFFF;
}

div.top ul.logged li.divider,
div.top ul.unlogged li.divider {
	background: transparent url(../img/bg/divider.gif) no-repeat center bottom;
	height: 27px;
	padding: 0 10px;
	width: 2px;
}

div.top ul.logged li a,
div.top ul.unlogged li a {
	color: #BABABA;
	line-height: 29px;
}

div.top ul.logged li a:hover,
div.top ul.submenu li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

div#login input.span4 {
	width: 205px;
}

div.ranking {
	height: 205px;
	margin: 14px 0 20px 0;
}

div.ranking h2 {
	margin: 0 0 10px 0;
}

div.ranking h2 a {
	color: #404040;
}

div.welcome {
	margin-top: 20px;
}

div.welcome h1,
div.signup h1 {
	font-weight: normal;
}

div.welcome p {
	font-size: 14px;
	font-family: "Lucida Grande", Tahoma;
}

div.welcome p,
div.signup p {
	line-height: 22px;
}

div.welcome a.btn {
	float: right;
	margin: 10px 0 0 0;
}

div.premieres {
	margin-top: 20px;
}

div.premieres ul li {
	float: left;
	margin: 15px 0 37px 20px;
}

div.premieres.user-logged ul li {
	float: left;
	margin: 0 27px 37px 0;
}

div.premieres ul li a {
	display: inline-block;
	padding: 3px;
	line-height: 0;
	border: 1px solid #CCC;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 123px;
	height: 174px;
}

div.premieres.user-logged ul li a {
	width: 108px;
	height: 108px;
}

div.filter {
	margin-top: 18px;
	margin-bottom: 20px;
}

div.filter select {
	width: 191px;
}

div.result h2 {
	margin-bottom: 20px;
	font-weight: normal;
}

div.result h2 span {
	font-weight: bold;
}

div.result dl {
	margin-bottom: 30px;
}

div.result dl dd span {
	background-color: #EFEFEF;
}

div.gallery {
	height: 190px;
	margin-top: 17px;
	margin-bottom: 30px;
	margin-left: 0;
	z-index: 1;
}

div.gallery ul li {
	padding: 3px;
	background-color: #FFFFFF;
	display: block;
	width: 934px;
	height: 184px;
}

div.gallery ul li img {
	display: block;
}

div.box-rate {
	z-index: 5;
	position: relative;
	top: -55px;
}

div.box-rate .span16 {
	padding: 0px 0 0 10px;
	width: 105px;
}

div.movie-info {
	margin-top: 20px;
}

div.movie-info h2 {
	text-transform: uppercase;
}

div.movie-info div.span-two-thirds small {
	margin-bottom: 10px;
	display: block;
}

div.movie-info div.span-two-thirds p span {
	font-weight: bold;
}

div.movie-info div.span-two-thirds p span.break {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}

div.movie-info div.span-one-third ul {
	width: 255px;
}

div.movie-info div.span-one-third ul li {
	
	border-bottom: 1px solid #EEEEEE;
	padding: 5px;
	margin-bottom: 3px;
}

div.basic {
	margin-top: 14px;
}

div.basic div.avatar {
	margin-top: 3px;
}

div.basic div.avatar span {
	height: 153px;
	background-color: #FFFFFF;
	display: inline-block;
}

div.basic div.info p.name {
	font-weight: bold;
	font-size: 15px;
}

div.basic div.info p span {
	font-weight: bold;
}

div.basic div.info p span.break {
	display: block;
}

div.next-movies {
	margin-bottom: 20px;
}

div.next-movies h2 {
	margin: 10px 0 10px 0;
}

div.next-movies ul li {
	float: left;
	margin: 0 48px 0 0px;
}

div.next-movies ul li.last {
	margin: 0;
}

div.next-movies ul li a{
	display: inline-block;
	padding: 3px;
	line-height: 0;
	border: 1px solid #EFEFEF;
	background-color: #FFF;
}

div.settings {
	margin-top: 20px;
}

div.signup {
	margin-top: 15px;
}

div.signup div.input {
	margin-left: 0;
}

div.signup input.btn {
	width: auto;
}

div.mobile {
	height: 210px;
	padding: 25px 0 0 0;
}

div.terms-privacy {
	margin-top: 20px;
}

div.terms-privacy h2 {
	font-weight: normal;
}

div.stars-line {
	position: relative;
}

a.over-voted {
	display: inline-block;
	height: 20px;
	position: absolute;
	left: 415px;
	width: 105px;
}

#current-number {
	position: relative;
	left: 5px;
	top: -25px;
}

table#last-checkins {
	border-color: #FFFFFF;
}

table#last-checkins tbody tr td {
	cursor: pointer;
}

div.popover .inner.minimalist {
	width: auto;
}

div.popover .inner.minimalist .content {
	padding: 4px 10px;
}

div.mosaic {
	margin-top: 20px;
}

div.mosaic div.ranking-list {
	background: #F5F5F5;
	
}

div.mosaic div dl {
	margin: 10px 0 10px 13px;
}

div.mosaic div dl dt {
	text-align: center;
}

ul.home-comments-list {
	width: 275px;
	margin-top: 20px;
}

ul.home-comments-list li {
	margin-bottom: 6px;
	background-color: #F5F5F5;
	padding: 5px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #eee;
	max-height: 85px;
	overflow: hidden;
}

div.signup-text p {
	font-size: 14px;
	font-family: "Lucida Grande", Tahoma;
}

.list-item {
	background-color: #F5F5F5;
	border: 1px solid #EEE;
	padding: 3px 5px;
	display: inline-block;
	margin: 0 0 3px 0;
}

.list-item a {
	font-weight: normal;
}

.list-item a.close {
	font-size: 16px;
	float: none;
}